body {
  font-family: 'Crimson Pro', serif;
}

.header {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 40px;
  font-weight: bold;
}

.verticalTextAlign{
  vertical-align: middle;
}

.searchButtonWidth{
  width: 150px;
}

.gameItem {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.gameItemTitle{
  font-size: large;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gameItemImage{
  margin-top: 10px;
  margin-bottom: 20px;
}

.gameItemDetailPad {
  margin-top: 20px;
  margin-bottom: 20px;
}

.gameItemDetailSubHeader {
  text-decoration: underline;
}

.smallRowPadding{
  margin-top: 5px;
  margin-bottom: 10px;
}